.sv-container-modern__title {
    padding-top: 2% !important;
}

.navbar-brand{
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.sv-logo--left {
    margin-right: 0px !important;
}