.card-hover-main:hover {
    background-color: teal !important;
    transition: 0.5s;
    cursor: pointer;
}

.navbar-brand {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.card-hover-pass:hover {
    background-color: lightcyan !important;
    transition: 0.5s;
    cursor: pointer;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.groupLabel {
    background-color: orange;
}

.uploadButton {
    margin-right: 20px;
}

.downloadButton {
    margin-right: 10px;
}

/* Prevent text selection of a <body> element in all major browsers */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}