.card-hover-main:hover {
    background-color: teal !important;
    transition: 0.5s;
}

.navbar-brand {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.card-hover-pass:hover {
    background-color: lightblue !important;
    transition: 0.5s;
    cursor: pointer;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.groupLabel {
    background-color: orange;
}

.uploadButton {
    margin-right: 20px;
}

.downloadButton {
    margin-right: 10px;
}